{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
    {% if block_settings.style_class == 'split' %}split-style__container{% endif %}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {% if block.settings.style_class == 'split' %}
    <div class="split-style">
      {{ block_settings.label }}
    </div>
  {% else %}
    {{ block_settings.label }}
  {% endif %}
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }

  .split-style__container {
    position: absolute;
    top: 50%;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  @media (min-width: 749px) {
    .split-style__container {
      top: unset;
      bottom: 10%;
    }
  }

  .split-style {
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-primary-button-background);
    color: var(--color-primary-button-text);
    transition: all 0.3s ease;
    box-shadow: inset 1px 0 0 white, inset 0 1px 0 white, inset 0 -1px 0 white, inset -1px 0 0 white;
    border-radius: 4px;
    transform: scale(1);
  }

  .split-style:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    box-shadow: inset 1px 0 0 white, inset 0 1px 0 white, inset 0 -1px 0 white, inset -1px 0 0 white,
      0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .split-style:active {
    transform: scale(0.98);
    transition: all 0.1s ease;
  }

  /* RIGHT WHITE OUTLINE */
  /* .split-style::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    pointer-events: none;
    border-top: 2px solid white;
    border-bottom: 3px solid white;
    border-left: none;
    border-right: 3px solid white;
    width: 50%;
    transition: width 0.3s ease;
  } */

  /* LEFT WHITE OUTLINE */

  /* .split-style::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 0px 4px 4px 0;
    pointer-events: none;
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: none;
    width: 50%;
    transform: rotate(180deg);
    transition: width 0.3s ease;
  } */
{% endstylesheet %}
